PORT=5000
NODE_ENV=development

# Database
DATABASE_URL=postgresql://postgres:Kunta1011%23@localhost:4411/shemsu_db

# Security
JWT_SECRET=oS9AvBZ4wOkhP2SusQV3fil6yIdEhRuQ1AXxnQqhbpQ=
JWT_REFRESH_SECRET=jWmvj4nUoTJcpwO0rHRKHwg27SnerwpqA9edZk+A7us=
ADMIN_SECRET_KEY=BEGJRBHHjF2BO/DMlppl8/UOfbspruzD/YvAGgeAgtg=

# Integrations
SENTRY_DSN=https://5075f2cf0288537ce7b9469832478b5d@o4510908822913024.ingest.us.sentry.io/4510908949790720
CLOUDINARY_CLOUD_NAME=dfknjtjtw
CLOUDINARY_API_KEY=493948117346838
CLOUDINARY_API_SECRET=29uvwg7Ew_FZgwstevtY1m09IEI
CHAPA_SECRET_KEY=CHASECK_TEST-aPPGsJ17rPCC07IeFnEI4FdOb65eq7li
EMAILJS_SERVICE_ID=service_ug4g6zs
EMAILJS_TEMPLATE_ID=template_e3cr6r5
EMAILJS_PUBLIC_KEY=p_wXmApZKbCOmCRhd
